/*============================================================================================*/
/* CART PAGE */
/*============================================================================================*/
.table.cart-list {
    margin: 0;
}

.table.cart-list th,
.table.options_cart th {
    background-color: transparent;
    text-transform: uppercase;
    font-weight: normal;
    color: #111;
    border: 0;
    padding-top: 0;
}

.table.cart-list th:nth-child(2) {
    width: 40%;
}

.table.cart-list th:nth-child(3) {
    width: 20%;
}

.table.cart-list th:nth-child(4) {
    width: 20%;
}

.table.cart-list th:nth-child(5) {
    width: 25%;
}

.table.cart-list td {
    vertical-align: middle;
    border: 0;
}

.table.cart-list td strong {
    font-weight: 500;
}

.table.cart-list td.options a {
    display: inline-block;
    margin-right: 10px;
}

.table.cart-list td.options a i {
    font-size: 18px;
    font-size: 1.125rem;
}

.table.cart-list td .numbers-row {
    background-color: #fff;
}

.table.cart-list.table-striped tbody tr:nth-of-type(odd) {
    background-color: rgba(0, 0, 0, 0.045);
}

@media (max-width: 767px) {
    .table.cart-list,
    .table.cart-list thead,
    .table.cart-list tbody,
    .table.cart-list th,
    .table.cart-list td,
    .table.cart-list tr {
        display: block;
        border: 0;
    }

    .table.cart-list thead tr {
        position: absolute;
        top: -9999px;
        left: -9999px;
    }

    .table.cart-list tr {
        border: 1px solid #ddd;
    }
}

@media (max-width: 767px) and (max-width: 991px) {
    .table.cart-list tr {
        margin-bottom: 20px;
    }
}

@media (max-width: 767px) {
    .table.cart-list td {
        border: none;
        border-bottom: 1px solid #ddd;
        position: relative;
        padding-left: 35%;
    }

    .table.cart-list td:before {
        position: absolute;
        top: 12px;
        left: 12px;
        width: 45%;
        padding-right: 10px;
        white-space: nowrap;
    }

    .table.cart-list td:nth-of-type(1):before, .table.cart-list td:nth-of-type(2):before, .table.cart-list td:nth-of-type(3):before, .table.cart-list td:nth-of-type(4):before, .table.cart-list td:nth-of-type(5):before {
        font-weight: 700;
        color: #111;
    }

    .table.cart-list td:nth-of-type(1):before {
        content: "Product";
    }

    .table.cart-list td:nth-of-type(2):before {
        content: "Price";
    }

    .table.cart-list td:nth-of-type(3):before {
        content: "Quantity";
    }

    .table.cart-list td:nth-of-type(4):before {
        content: "Subtotal";
    }

    .table.cart-list td:nth-of-type(5):before {
        content: "Edit";
    }
}

.thumb_cart {
    width: 60px;
    height: 60px;
    overflow: hidden;
    margin-right: 10px;
    float: left;
    position: relative;
    background-color: #fff;
    padding: 5px;
    box-sizing: content-box;
}

.thumb_cart img {
    width: 60px;
    height: auto;
    position: absolute;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%) scale(1.1);
    -moz-transform: translate(-50%, -50%) scale(1.1);
    -ms-transform: translate(-50%, -50%) scale(1.1);
    -o-transform: translate(-50%, -50%) scale(1.1);
    transform: translate(-50%, -50%) scale(1.1);
}

@media (max-width: 991px) {
    .thumb_cart {
        display: none;
    }
}

.item_cart {
    float: left;
    width: 65%;
    margin: 0px 0 4px 5px;
    line-height: 1.3;
    font-weight: 500;
    padding-bottom: 4px;
    border-bottom: 1px solid rgba(0,0,0,0.06);
}

.item_cart_option {
    float: left;
    width: 65%;
    margin: 0px 0 0 5px;
    line-height: 1.3;
    font-size: 11px;
    color: black;
}

@media (max-width: 991px) {
    .item_cart {
        margin: 5px 0 0 0;
        width: 100%;
        float: none;
    }
}

.cart_actions .apply-coupon .form-control {
    margin-right: 10px;
    height: 40px;
}

@media (max-width: 575px) {
    .cart_actions .apply-coupon .form-control {
        margin: 0 0 5px 0;
    }
}

@media (max-width: 575px) {
    .cart_actions .btn_1 {
        width: 100%;
        margin-bottom: 15px;
    }
}

.box_cart {
    background-color: #fff;
    padding: 30px 0;
    text-align: right;
}

@media (max-width: 767px) {
    .box_cart {
        padding: 30px 0;
    }
}

.box_cart h5 {
    margin-top: 0;
    padding: 0;
    text-transform: uppercase;
}

.box_cart small {
    text-align: center;
    line-height: 1.1;
    display: block;
    margin-top: 10px;
}

.box_cart ul {
    list-style: none;
    margin: 0 0 15px 0;
    padding: 0;
    font-weight: 500;
    font-size: 16px;
    font-size: 1rem;
}

.box_cart ul li span {
    float: left;
}

.box_cart ul li:last-child {
    margin-top: 10px;
    text-transform: uppercase;
    font-weight: bold;
    color: #ff5353;
    font-size: 21px;
    font-size: 1.3125rem;
}
