/*============================================================================================*/
/* CONTACT PAGE */
/*============================================================================================*/
.box_contacts {
  background-color: #fff;
  padding: 25px 15px;
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  -ms-border-radius: 3px;
  border-radius: 3px;
  margin-bottom: 15px;
  text-align: center;
  font-size: 15px;
  font-size: 0.9375rem;
}
.box_contacts h2 {
  font-weight: 400;
  margin: 10px 0 10px 0;
  font-size: 21px;
  font-size: 1.3125rem;
}
.box_contacts i {
  font-size: 46px;
  font-size: 2.875rem;
  color: #DB94BE;
}
.box_contacts a {
  color: #444;
}
.box_contacts a:hover {
  color: #1a1a1a;
  text-decoration: underline;
}
.box_contacts small {
  display: block;
  color: #777;
}

iframe.map_contact {
  border: 0;
  width: 100%;
  height: 315px;
}
