/*============================================================================================*/
/* Your custom styles below */
/*============================================================================================*/

.hamburger-inner.mobile-menu,
.hamburger-inner.mobile-menu::before,
.hamburger-inner.mobile-menu::after {
    width: 26px;
    height: 2px;
    background-color: black;
    margin-top: 0px;
}

.sosmed-inline li {
    display: inline;
}

.header-shadow {
    -webkit-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
    -moz-box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
    box-shadow: 0 20px 20px -20px rgba(0, 0, 0, 0.25);
}


.d-none {
    display: none !important;
}

.d-inline {
    display: inline !important;
}

.d-inline-block {
    display: inline-block !important;
}

.d-block {
    display: block !important;
}

.d-table {
    display: table !important;
}

.d-table-row {
    display: table-row !important;
}

.d-table-cell {
    display: table-cell !important;
}

.d-flex {
    display: -ms-flexbox !important;
    display: flex !important;
}

.d-inline-flex {
    display: -ms-inline-flexbox !important;
    display: inline-flex !important;
}

.img-responsive {
    width: 100%;
}

.gallery-photo-list > div {
    padding: 6px;
}

.gallery-photo-list img {
    box-shadow: 0 6px 6px rgba(0, 0, 0, 0.2);
}

.gallery-photo-list img:hover {
    opacity: 0.5;
    box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.hide {
    display: none !important;
}

.left {
    float: left;
}

.right {
    float: right;
}

.clear-both {
    clear: both;
}

.separator {
    padding-left: 10px;
    padding-right: 10px;
}

.btn-logout {
    background-color: rgba(0, 0, 0, 0.1) !important;
}

.btn-logout:hover {
    background-color: #FFC107 !important;
}

.cart-item-more {
    font-size: 14px;
    text-align: center;
    margin-top: -4px;
    margin-bottom: 20px;
}

.invalid-feedback {
    color: #a5360f;
}

.form-horizontal label {
    padding-top: 10px;
}

.product-item-wishlist-show {
    display: block !important;
}

.product-item-wishlist-show a {
    background-color: rgba(0, 0, 0, 0) !important;
}

.product-item-wishlist-show a .ti-heart {
    color: #E5117E !important;
}

.grid_item ul > li:first-child > a {
    background-color: #E5117E;
}

.grid_item ul > li:first-child > a:hover {
    background-color: rgba(0, 0, 0, 0);
}

.grid_item ul > li:first-child > a:hover .ti-heart {
    color: #E5117E !important;
}

.btn_1.btn-sm {
    padding: 8px 12px;
    font-size: 12px;
}

.btn_1.btn-sm.btn-success {
    background-color: #0abb87 !important;
    padding: 4px 8px;
    font-size: 12px;
}

.btn_1.btn-disabled, .btn_1.btn-disabled:hover {
    background-color: #F7F7F7 !important;
    color: rgba(0, 0, 0, 0.5) !important;
    cursor: no-drop;
}

.modal-content {
    top: 120px;
    padding: 0px;
}

.select2 {
    width: 100% !important;
}

.select2-container--default .select2-selection--single {
    padding: 6px;
    font-size: 14px;
    font-size: 0.875rem;
    -webkit-border-radius: 3px !important;
    -moz-border-radius: 3px !important;
    -ms-border-radius: 3px !important;
    border-radius: 3px !important;
    border: 1px solid #dddddd !important;
    background-color: white !important;
}

.select2-container .select2-selection--single {
    height: 40px !important;
}

.payment-success-icon {
    color: #1ccacd;
    font-size: 90px;
}

.payment-error-icon {
    color: #ff8b33;
    font-size: 90px;
}

.table.table-striped tfoot {
    width: 100% !important;
    box-shadow: 0 0 3px red;
}

/**
Begin Tree View
 */

.tree, .tree ul {
    margin: 0;
    padding: 0;
    list-style: none
}

.tree ul {
    margin-left: 1em;
    position: relative
}

.tree ul ul {
    margin-left: .5em
}

.tree ul:before {
    content: "";
    display: block;
    width: 0;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    border-left: 1px solid
}

.tree li {
    margin: 0;
    padding: 0 1em;
    line-height: 2em;
    /*color:#369;*/
    /*font-weight:700;*/
    position: relative
}

.tree > li {
    padding: 0 !important;
}

.tree ul li:before {
    content: "";
    display: block;
    width: 10px;
    height: 0;
    border-top: 1px solid;
    margin-top: -1px;
    position: absolute;
    top: 1em;
    left: 0
}

.tree ul li:last-child:before {
    background: #fff;
    height: auto;
    top: 1em;
    bottom: 0
}

.tree i.indicator {
    padding: 2px;
}

.tree a:hover {
    background-color: rgba(219, 148, 190, 0.3);
}

.tree i.indicator:hover,
.tree i.indicator.ti-minus {
    background-color: rgba(219, 148, 190, 0.3);
    cursor: pointer;
}

.indicator {
    margin-right: 5px;
}

.tree li a {
    text-decoration: none;
    padding: 2px 4px;
    /*color:#369;*/
}

ul.tree > li > a {
    padding: 0px;
}

.tree li button, .tree li button:active, .tree li button:focus {
    text-decoration: none;
    /*color:#369;*/
    border: none;
    background: transparent;
    margin: 0px 0px 0px 0px;
    padding: 0px 0px 0px 0px;
    outline: 0;
}

.tree .open.active {
    background-color: rgba(219, 148, 190, 0.1);
}

.no-padding {
    padding: 0 !important;
}

.member-account-side ul {
    padding: 0;
    margin: 0;
    list-style: none;
}

.member-account-side li {
    border-bottom: 1px solid #ededed;
}

.member-account-side li a {
    padding: 15px 15px 15px 20px;
    display: block;
    color: #444;
    border-left: 2px solid transparent;
}

.member-account-side li a:hover,
.member-account-side li.active {
    background-color: #F7F8FE;
    border-left-color: #DB94BE;
}

.member-account-side li.active {
    background-color: #F7F8FE;
    border-left: 2px solid #DB94BE;
}

.member-account-side li i {
    font-size: 20px;
    margin-right: 10px;
    margin-bottom: -8px;
}

.product-detail-description {
    width: 100%;
    padding: 10px solid #000;
    word-break: break-all;
}

.prod_options .validasi_options {
    background-color: rgba(255, 0, 0, 0.05);
    padding-top: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin-bottom: 10px;
    border: 1px solid rgba(255, 0, 0, 0.1);
}

.table-cart-list .row-product-out-of-stock {
    background-color: rgba(0,0,0,0.1);
}
.table-cart-list .row-product-out-of-stock,
.table-cart-list .row-product-out-of-stock span,
.table-cart-list .row-product-out-of-stock td {
    color: rgba(0,0,0,0.4);
}

@keyframes shake {
    0% {
        transform: translate(1px, 1px) rotate(0deg);
    }
    10% {
        transform: translate(-1px, -2px) rotate(-1deg);
    }
    20% {
        transform: translate(-3px, 0px) rotate(1deg);
    }
    30% {
        transform: translate(3px, 2px) rotate(0deg);
    }
    40% {
        transform: translate(1px, -1px) rotate(1deg);
    }
    50% {
        transform: translate(-1px, 2px) rotate(-1deg);
    }
    60% {
        transform: translate(-3px, 1px) rotate(0deg);
    }
    70% {
        transform: translate(3px, 1px) rotate(-1deg);
    }
    80% {
        transform: translate(-1px, -1px) rotate(1deg);
    }
    90% {
        transform: translate(1px, 2px) rotate(0deg);
    }
    100% {
        transform: translate(1px, -2px) rotate(-1deg);
    }
}

.shake-something {
    animation: shake 0.3s;
    animation-iteration-count: 5;
}

.item-box.video, .item.video {
    position: relative;
}

.item-box.video > a.video img, .item.video > img.video {
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.4);
    opacity: 0.5 !important;
}

.item-box.video .product-video-play i {
    font-size: 3vw;
    left: calc(50% - 2.4vw);
    top: calc(50% - 2.9vw);
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    padding: 10px 8px 10px 12px;
    border-radius: 50%;
    color: white
}

.item.video .product-video-play i {
    font-size: 1vw;
    left: calc(50% - 0.8vw);
    top: calc(50% - 0.8vw);
    position: absolute;
    background-color: rgba(0,0,0,0.4);
    padding: 6px 4px 6px 8px;
    border-radius: 50%;
    color: white
}

.text-uppercase {
    text-transform: uppercase !important;
}


.product-item figure {
    position: relative;
}

.product-item figure img {
    display: block;
    object-fit: cover;
    width: 100%;
    height: auto;
}

.product-item .overlay {
    position: absolute;
    background: rgba(255, 255, 255, 0.8);

    /* center overlay text */
    display: flex;
    align-items: center;
    justify-content: center;
}

.product-item .overlay_2 {
    /*   top: 0;
      right: 0;
      left: 0;
      bottom: 0; */
    inset: 0;
}

.product-item .label-out-stock {
    height: 70px;
    width: 70px;
    border-radius: 50%;
    background-color: #DB94BE;
    color: white;
    line-height: 15px;
    padding-top: 18px;
    padding-left: 4px;
    padding-right: 4px;
    text-align: center;
    border: 2px solid rgba(255,0,0,0.1);
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

@media (min-width: 0px) and (max-width: 575px) {
    .wrapper-product-detail .btn_add_to_cart a {
        width: 100% !important;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 10000;
        border-radius: 0;
    }
}

@media (min-width: 576px) {
    .d-sm-none {
        display: none !important;
    }

    .d-sm-inline {
        display: inline !important;
    }

    .d-sm-inline-block {
        display: inline-block !important;
    }

    .d-sm-block {
        display: block !important;
    }

    .d-sm-table {
        display: table !important;
    }

    .d-sm-table-row {
        display: table-row !important;
    }

    .d-sm-table-cell {
        display: table-cell !important;
    }

    .d-sm-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-sm-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 768px) {
    .d-md-none {
        display: none !important;
    }

    .d-md-inline {
        display: inline !important;
    }

    .d-md-inline-block {
        display: inline-block !important;
    }

    .d-md-block {
        display: block !important;
    }

    .d-md-table {
        display: table !important;
    }

    .d-md-table-row {
        display: table-row !important;
    }

    .d-md-table-cell {
        display: table-cell !important;
    }

    .d-md-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-md-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 992px) {
    .d-lg-none {
        display: none !important;
    }

    .d-lg-inline {
        display: inline !important;
    }

    .d-lg-inline-block {
        display: inline-block !important;
    }

    .d-lg-block {
        display: block !important;
    }

    .d-lg-table {
        display: table !important;
    }

    .d-lg-table-row {
        display: table-row !important;
    }

    .d-lg-table-cell {
        display: table-cell !important;
    }

    .d-lg-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-lg-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media (min-width: 1200px) {
    .d-xl-none {
        display: none !important;
    }

    .d-xl-inline {
        display: inline !important;
    }

    .d-xl-inline-block {
        display: inline-block !important;
    }

    .d-xl-block {
        display: block !important;
    }

    .d-xl-table {
        display: table !important;
    }

    .d-xl-table-row {
        display: table-row !important;
    }

    .d-xl-table-cell {
        display: table-cell !important;
    }

    .d-xl-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-xl-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}

@media print {
    .d-print-none {
        display: none !important;
    }

    .d-print-inline {
        display: inline !important;
    }

    .d-print-inline-block {
        display: inline-block !important;
    }

    .d-print-block {
        display: block !important;
    }

    .d-print-table {
        display: table !important;
    }

    .d-print-table-row {
        display: table-row !important;
    }

    .d-print-table-cell {
        display: table-cell !important;
    }

    .d-print-flex {
        display: -ms-flexbox !important;
        display: flex !important;
    }

    .d-print-inline-flex {
        display: -ms-inline-flexbox !important;
        display: inline-flex !important;
    }
}
