/*============================================================================================*/
/* PRODUCT PAGE */
/*============================================================================================*/
.countdown_inner {
    background: #F33;
    color: #fff;
    margin-bottom: 30px;
    padding: 5px;
    text-align: center;
    font-weight: 500;
}

@media (max-width: 767px) {
    .countdown_inner {
        margin-bottom: 15px;
    }
}

.countdown_inner.version_2 {
    padding: 10px 5px;
    position: relative;
}

.countdown_inner.version_2:before {
    border-style: solid solid solid none;
    border-width: 15px 15px 15px 0;
    bottom: -26px;
    content: "";
    left: 0;
    position: absolute;
    width: 15px;
    border-color: #F33 transparent transparent;
}

@media (max-width: 991px) {
    .countdown_inner.version_2:before {
        display: none;
    }
}

.countdown_inner.version_2 strong {
    display: block;
    font-size: 28px;
    font-size: 1.75rem;
    font-weight: 900;
    line-height: 1.2;
}

.countdown_inner .countdown {
    position: static;
    font-size: 16px;
    font-size: 1rem;
    width: auto;
    margin: 0;
    display: inline-block;
}

.countdown_inner .countdown:before {
    display: none;
}

/*-------- Carousel with thumbs --------*/
.all {
    width: 100%;
    height: auto;
}

.all .slider,
.all .slider-two {
    width: auto;
    height: auto;
    overflow: hidden;
    position: relative;
}

.all .slider .owl-nav,
.all .slider .owl-dots,
.all .slider-two .owl-nav,
.all .slider-two .owl-dots {
    display: none;
}

.all .slider:hover .left,
.all .slider:hover .right,
.all .slider-two:hover .left,
.all .slider-two:hover .right {
    visibility: visible;
    opacity: 1;
}

.all .slider:hover .left,
.all .slider-two:hover .left {
    left: 20px;
}

.all .slider:hover .right,
.all .slider-two:hover .right {
    right: 20px;
}

.all .slider .item-box,
.all .slider-two .item-box {
    overflow: hidden;
    width: 100%;
    height: 580px;
    position: relative;
    background-size: cover;
    background-position: center center;
}

@media (max-width: 767px) {
    .all .slider .item-box,
    .all .slider-two .item-box {
        height: 350px;
    }
}

.all .slider .left,
.all .slider .right,
.all .slider-two .left,
.all .slider-two .right {
    position: absolute;
    z-index: 1;
    top: 50%;
    margin-top: -20px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    visibility: hidden;
    opacity: 0;
    background-color: black;
    background-color: rgba(0, 0, 0, 0.5);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    font-size: 18px;
    font-size: 1.125rem;
    color: #fff;
}

.all .slider .left:hover,
.all .slider .right:hover,
.all .slider-two .left:hover,
.all .slider-two .right:hover {
    visibility: visible;
    opacity: 1;
}

.all .slider .left,
.all .slider-two .left {
    left: -20px;
    transition: left ease .25s;
}

.all .slider .left:hover,
.all .slider-two .left:hover {
    left: 20px;
}

.all .slider .left.nonl,
.all .slider .right.nonr,
.all .slider-two .left.nonl,
.all .slider-two .right.nonr {
    opacity: 0;
    visibility: hidden;
}

.all .slider .left.nonl,
.all .slider-two .left.nonl {
    left: -20px;
}

.all .slider .right,
.all .slider-two .right {
    right: -20px;
    transition: right ease .25s;
}

.all .slider .right:hover,
.all .slider-two .right:hover {
    right: 20px;
}

.all .slider .right.nonr,
.all .slider-two .right.nonr {
    right: -20px;
}

.all .slider-two:hover .left-t {
    visibility: visible;
    opacity: 1;
    left: 0;
}

.all .slider-two:hover .right-t {
    visibility: visible;
    opacity: 1;
    right: 0;
}

.all .slider-two .item {
    transition: all ease .25s;
    height: 100px;
    border: solid 2px #e6ecf2;
    cursor: pointer;
    background-size: cover;
    background-position: center center;
}

.all .slider-two .item.active {
    border: solid 2px #ccc;
}

.all .slider-two .owl-stage {
    padding: 20px 0;
}

.all .slider-two .left-t,
.all .slider-two .right-t {
    cursor: pointer;
    position: absolute;
    z-index: 1;
    top: 20px;
    visibility: hidden;
    opacity: 0;
    transition: all ease .25s;
    width: 40px;
    height: 99px;
    background: no-repeat #DB94BE url(../img/arrow_right.svg) center center;
}

.all .slider-two .left-t:hover,
.all .slider-two .right-t:hover {
    visibility: visible;
    opacity: 1;
}

.all .slider-two .left-t {
    transform: rotate(180deg);
    left: -40px;
}

.all .slider-two .left-t:hover {
    left: 0;
}

.all .slider-two .left-t.nonl-t,
.all .slider-two .right-t.nonr-t {
    opacity: 0;
    visibility: hidden;
}

.all .slider-two .left-t.nonl-t {
    left: -40px;
}

.all .slider-two .right-t:hover {
    right: 0;
}

.all .slider-two .right-t.nonr-t {
    right: -40px;
}

.prod_info {
    border-bottom: 1px solid #ededed;
    padding-bottom: 25px;
}

@media (max-width: 767px) {
    .prod_info {
        border-bottom: none;
        padding-bottom: 15px;
    }
}

.prod_info h1 {
    font-size: 24px;
    font-size: 1.5rem;
    margin: 10px 0 2px 0;
}

.prod_info .rating {
    margin-bottom: 10px;
}

.prod_info p {
    margin-bottom: 20px;
}

.prod_info small {
    font-weight: 600;
}

.prod_info.version_2 {
    border-bottom: none;
}

.prod_options {
    padding: 20px 0 20px 0;
}

@media (max-width: 991px) {
    .prod_options {
        padding: 0 0 20px 0;
    }
}

.prod_options label {
    padding-top: 5px;
}

.prod_options .nice-select {
    border: 1px solid #dddddd;
    height: 40px;
    line-height: 34px;
    padding-left: 10px;
}

.prod_options .nice-select:after {
    right: 15px;
}

.prod_options strong {
    text-transform: uppercase;
    font-weight: 500;
    line-height: 36px;
}

.prod_options .colors ul {
    margin: 0;
    padding: 0;
}

.prod_options .colors ul li {
    display: inline-block;
    margin-right: 5px;
}

.prod_options .colors ul li a.color {
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    border-radius: 50%;
    display: block;
    width: 28px;
    height: 28px;
    position: relative;
}

.prod_options .colors ul li a.color:hover {
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
    -ms-transform: scale(1.1);
    -o-transform: scale(1.1);
    transform: scale(1.1);
}

.prod_options .colors ul li a.color.active:hover {
    -webkit-transform: scale(1);
    -moz-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}

.prod_options .colors ul li a.color.active:before {
    font-family: 'themify';
    content: "\e64c";
    color: #fff;
    font-size: 13px;
    font-size: 0.8125rem;
    line-height: 1;
    position: absolute;
    font-weight: bold;
    top: 8px;
    left: 8px;
}

.prod_options .colors ul li a.color.color_1 {
    background-color: #ffcc00;
}

.prod_options .colors ul li a.color.color_2 {
    background-color: #ff9933;
}

.prod_options .colors ul li a.color.color_3 {
    background-color: #ff9966;
}

.prod_options .colors ul li a.color.color_4 {
    background-color: #ff9999;
}

.prod_options .colors ul li a.color.color_5 {
    background-color: #ffcc00;
}

.prod_options.version_2 {
    border: none;
}

.price_main {
    line-height: 1;
    padding-top: 10px;
}

@media (max-width: 767px) {
    .price_main {
        text-align: right;
    }
}

@media (max-width: 991px) {
    .price_main {
        margin-bottom: 10px;
        padding-top: 0;
    }
}

@media (max-width: 575px) {
    .price_main {
        margin-bottom: 0;
    }
}

.price_main .old_price {
    font-size: 18px !important;
    font-size: 18px !important / 16 pxrem;
}

.price_main .new_price {
    font-size: 24px;
    font-size: 1.5rem;
}

.price_main .percentage {
    top: -2px;
}

@media (max-width: 767px) {
    .btn_add_to_cart {
        text-align: right;
    }
}

.btn_add_to_cart a.btn_1 {
    text-transform: uppercase;
    width: 100%;
}

@media (max-width: 767px) {
    .btn_add_to_cart a.btn_1 {
        display: inline-block;
        width: auto;
        margin-top: 30px;
    }
}

.nav-link {
    display: block;
    padding: 0 15px;
    height: 30px;
    font-size: 15px;
    font-size: 0.9375rem;
    color: #444;
}

.nav-link:hover,
.nav-link:focus {
    text-decoration: none;
}

.nav-link.disabled {
    color: #6c757d;
}

.nav-tabs {
    border: none;
    border-bottom: 2px solid #dee2e6;
}

.nav-tabs .nav-item {
    margin-bottom: -2px;
}

.nav-tabs .nav-link {
    border: none;
}

.nav-tabs .nav-link.disabled {
    color: #6c757d;
    background-color: transparent;
    border-color: transparent;
}

.nav-tabs .nav-link.active,
.nav-tabs .nav-item.show .nav-link {
    border-bottom: 2px solid #DB94BE;
    color: #DB94BE;
    background-color: transparent;
}

.tabs_product {
    text-align: center;
    margin-top: 30px;
}

@media (max-width: 767px) {
    .tabs_product {
        margin-top: -30px;
        padding-top: 0;
    }
}

.tabs_product .nav-tabs {
    border: none;
    border-bottom: 1px solid transparent;
    display: flex;
}

@media (max-width: 767px) {
    .tabs_product .nav-tabs {
        display: none;
    }
}

.tabs_product .nav-tabs .nav-item {
    text-transform: uppercase;
    font-weight: 500;
}

.tabs_product.version_2 {
    margin-top: 0;
}

.tabs_product.version_2 .nav-tabs {
    justify-content: center;
    flex-direction: row;
}

.tabs_product.version_3 {
    margin-top: 0;
    position: relative;
}

@media (max-width: 767px) {
    .tabs_product.version_3 .nav-tabs {
        display: flex;
    }
}

.product_actions ul {
    margin: 15px 0 0 2px;
    padding: 0;
    list-style: none;
}

@media (max-width: 767px) {
    .product_actions ul {
        display: none;
    }
}

.product_actions ul li {
    float: left;
    margin-right: 25px;
}

@media (max-width: 767px) {
    .product_actions ul li {
        margin: -5px 10px 0 0;
    }
}

@media (max-width: 767px) and (max-width: 767px) {
    .product_actions ul li:first-child i, .product_actions ul li:nth-child(2) i {
        font-size: 21px;
        font-size: 1.3125rem;
    }
}

.product_actions ul li a {
    color: #444;
}

.product_actions ul li a:hover {
    color: #DB94BE;
}

.product_actions ul li a i {
    margin-right: 5px;
}

@media (max-width: 767px) {
    .product_actions ul li a span {
        display: none;
    }
}

.tab_content_wrapper {
    background-color: #f8f8f8;
    padding: 60px 0 35px 0;
}

@media (max-width: 991px) {
    .tab_content_wrapper {
        padding: 30px 0 10px 0;
    }
}

@media (max-width: 767px) {
    .tab_content_wrapper {
        background-color: #fff;
        border-bottom: 1px solid #dddddd;
        padding: 15px 0;
    }
}

.tab_content_wrapper .card {
    border: none;
    background-color: transparent;
}

.tab_content_wrapper .card .card-header {
    margin: 0 -15px;
    padding: 0;
    background-color: transparent;
    border: 0;
    border-top: 1px solid #dddddd;
    background-color: #f8f8f8;
}

.tab_content_wrapper .card .card-header a {
    display: block;
    font-size: 18px;
    font-size: 1.125rem;
    padding: 15px;
    color: #111;
}

.tab_content_wrapper .card .card-body {
    padding: 0;
}

.tab_content_wrapper .card .card-body h3 {
    font-size: 18px;
    font-size: 1.125rem;
    margin-bottom: 20px;
    font-weight: 400;
}

@media (min-width: 768px) {
    .tabs_product .nav-tabs {
        display: flex;
    }

    .tab_content_wrapper .card {
        border: none;
    }

    .tab_content_wrapper .card .card-header {
        display: none;
    }

    .tab_content_wrapper .card .collapse {
        display: block;
    }
}

@media (max-width: 767px) {
    .tab_content_wrapper .fade:not(.show) {
        opacity: 1;
    }

    .tab_content_wrapper .tab-pane {
        display: block !important;
        opacity: 1;
    }

    .tab_content_wrapper .card .card-header {
        margin-bottom: 15px;
        border: 0;
    }

    .tab_content_wrapper .card .card-header a:after {
        font-family: themify;
        width: 20px;
        display: block;
        float: right;
    }

    .tab_content_wrapper .card .card-header a.collapsed:after {
        content: "\e61a";
    }

    .tab_content_wrapper .card .card-header a:after {
        content: "\e622";
    }
}

.review_content {
    margin-bottom: 30px;
}

.review_content h4 {
    font-size: 18px;
    font-size: 1.125rem;
}

.review_content .rating {
    color: #999;
    font-size: 12px;
    font-size: 0.75rem;
    margin-bottom: 0;
    float: left;
}

.review_content .rating i {
    width: 20px;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    -ms-border-radius: 3px;
    border-radius: 3px;
    height: 20px;
    font-size: 12px;
    font-size: 0.75rem;
    display: inline-block;
    background-color: #fec348;
    color: #fff;
    line-height: 20px;
    text-align: center;
    margin-right: 2px;
}

.review_content .rating i.empty {
    background-color: #ccc;
}

@media (max-width: 575px) {
    .review_content .rating {
        float: none;
        display: block;
    }
}

@media (max-width: 575px) {
    .review_content .rating em {
        float: none;
        display: inline-block;
        margin-left: 10px;
    }
}

.review_content em {
    font-weight: 500;
    color: #999;
    line-height: 22px;
    margin-left: 5px;
    float: right;
}

@media (max-width: 575px) {
    .review_content em {
        float: none;
        display: block;
        margin-top: 10px;
        margin-left: 0;
    }
}

.table.sizes td,
.table.sizes tr th {
    white-space: nowrap;
}
